body{
    background: blueviolet;
    }
#form{
    margin: 125px auto;
    background-color: white;
    padding: 50px;
    width: 25%;
    border-radius: 6px;
    box-shadow: 10px 10px 5px rgb(59, 6, 105);
    }
#btn{
    color: white;
    background-color: rgb(74, 7, 138);
    font-size: large;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    }
